<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <form action="/auth" method="POST">

            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title mx-auto" id="exampleModalLongTitle">
                            <img class="rounded" src="https://fuston.com.br/assets/img/logo.png"
                                width="120rem">
                        </div>
                        <div class="position-absolute fixed-top p-2">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body" id="datepicker">
                        <div class="form-group ml-2 mr-2 py-4">
                            <label for="recipient-name1"
                                class="col-form-label font-weight-normal">Nome do usuário</label>
                            <input placeholder="Usuário" name="nameUser" type="text" class="form-control" id="recipient-name1" required>
                            <label for="recipient-name2"
                            class="col-form-label font-weight-normal">Senha</label>
                            <input placeholder="Senha" name="password" type="password" class="form-control" id="recipient-name2" required>
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-danger mx-auto w-50 mb-4">Fazer Login</button>
                    <div class="modal-footer">
                        <small class="text-muted text-center px-4 pb-3 rem mx-auto">
        
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>